[Unit]
Description=Run ansible playbook on boot
After=default.target
DefaultDependecies=no
Before=shutdown.target

[Service]
Type=oneshot
DISPLAY=:0
User=filip
ExecStart=/bin/bash -c 'DISPLAY=:0 xterm -geometry 120x50+500 -hold -e sudo ansible-playbook -i /home/filip/work/tieto/self-sustaining-playbook/inventory.ini /home/filip/work/tieto/self-sustaining-playbook/created_playbook.yml'
User=filip

[Install]
WantedBy=default.target

